/* regole di reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* regole generali  */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col, .logo, .button {
    border: 1px dashed black;
}

.row {
    display: flex;
    align-items: center;
}

a {
    text-decoration-line: none;
    color: white;
}


/* header  */

.header {
    background-color: rgb(0 98 227);
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.header .col {
    min-height: 34px;
    background-color: rgb(208, 153, 34);
}

.header .col1, .header .col3 {
    flex-basis: 20%;
}

.header .col2 {
    flex-grow: 1;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: inherit;
}


.header .col3 {
    justify-content: end;
    display: flex;
    align-items: center;
}

.header .col3 a {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 50%;
}


/* SECTION  */


/* section 1 */

.section1 {
    padding: 45px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.section1 .container {
    max-width: 900px;
    margin: 0 auto;
}

.section1 .col {
    min-height: 387px;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.section1 h2 {
    font-size: 56px;
    color: white;
}

.section1 p {
    font-size: 24px;
    color: white;
}

.section1 a {
    font-size: 24px;
    padding: 15px;
    border-radius: 40%;
}

.section1 .download-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

#download-button {
    background-color: white;
    color: black;
}

#open-button {
    background-color: black;
    color: white;
}




/* section 2, section 4  e parte di section 3 */

.section2, .section4, .section3 {
    padding: 45px 0;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
}

.section2 .col1, .section4 .col1, .section3 .col1 {
    min-height: 490px;
    flex-basis: 60%;
}

.section2 .col2, .section4 .col2, .section3 .col2 {
    min-height: 490px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section2 .col2, .section4 .col2 {
    padding-left: 150px;
}

.section2 h2, .section3 h2, .section4 h2 {
    font-size: 48px;
}



/* varianti section 3 */

.section3 {
    background-color: rgb(208 208 208);
}

.row-reversee {
    flex-direction: row-reverse;
}

.section3 .col2 {
    padding-right: 150px;
}

/* section 5  */

.section5 {
    background-color: rgb(168, 168, 164);
    padding: 45px 0 45px 0;
    font-size: 24px;
}

.section5 h2 {
    font-size: 56px;
}

.section5 h3 {
    font-size: 34px;
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.section5 p {
    text-align: center;
}

.section5 .col {
    min-height: 868px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section5 a {
    padding: 7px 15px;
    border-radius: 40%;
    background-color: cornflowerblue;
    color: white;
}


/* footer  */

.footer {
    background-color: rgb(31, 29, 29);
}

.footer1 {
    padding: 10px 0 45px;
}

.footer1 .col {
    min-height: 536px;
    flex-basis: 16.6%;
    background-color: rgb(98, 206, 206);
}

.footer1 .col1 {
    flex-grow: 1;
    background-color: rgb(206, 112, 131);
}


.footer2 {
    padding-top: 30px;
}

.footer2 .container {
    background-color: aquamarine;
    padding: 18px 0;
}

.footer2 .row {
    justify-content: space-between;
}

.footer2 .tasto {
    background-color: salmon;
    min-height: 33px;
    min-width: 82px;
}
